.outer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.map_wraper {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel_wraper {
  width: 100%;
  height: 100%;
}
